*.pyc
*.db
.idea
.idea/**
.venv
.venv/**

logs/
.mypy_cache/

volumes/
volumes/**


logs
logs/**
__pycache__

#Environment files
.env
.env.*
PRODUCTION.MD
sql_app.db

#Python
venv/
dist/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/